.register-container,
.login-container{
    max-width: 1440px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.register-title,
.login-title {
    color: rgba(26, 26, 26, 1);
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: rgba(0, 0, 0, 0.34);
}

.register-title h1,
.login-title h1 {
    font-family: Inter;
    font-weight: 700;
    font-size: 223px;
    text-align: center;
    width: 100%;
}

@media (max-width: 1440px) {
    .register-title h1,
    .login-title h1 {
        font-size: 180px;
    }
}

@media (max-width: 1024px) {
    .register-title h1,
    .login-title h1 {
        font-size: 130px;
    }
}

@media (max-width: 768px) {
    .register-title h1,
    .login-title h1 {
        font-size: 80px;
    }
}

.register-form,
.login-form {
    width: 67%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 38px;
    margin-top: 92px;
}

@media (max-width: 768px) {
    .register-form,
    .login-form {
        margin-top: 60px;
    }
}

.register-form input,
.login-form input {
    padding: 24px;
    border-radius: 2px;
    border: 1px solid rgba(109, 110, 118, 0.5);
}

.register-form input::placeholder,
.login-form input::placeholder {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: rgba(35, 37, 54, 1);
}

.register-form button,
.login-form button {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(26, 26, 26, 1);
    font-family: Sen;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    padding: 20px 0 20px 0;
    transition: 0.3s;
    cursor: pointer;
    border: none;
    margin-top: -5px;
}

.register-form button:hover,
.login-form button:hover {
    background-color: rgba(26, 26, 26, 0.5);
}

.register-container p,
.login-container p {
    font-family: Inter;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: rgba(26, 26, 26, 1);
    text-decoration: none;
    margin-top: 26px;
    text-align: center;
}