.new-post-container {
    max-width: 1440px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.new-post-title {
    color: rgba(26, 26, 26, 1);
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: rgba(0, 0, 0, 0.34);
    text-transform: uppercase;
}

.new-post-title h1 {
    font-family: Inter;
    font-weight: 700;
    font-size: 224px;
    text-align: center;
    width: 100%;
}

@media (max-width: 1440px) {
    .new-post-title h1 {
        font-size: 180px;
    }
}

@media (max-width: 1024px) {
    .new-post-title h1 {
        font-size: 130px;
    }
}

@media (max-width: 768px) {
    .new-post-title h1 {
        font-size: 80px;
    }
}

.new-post-form {
    width: 67%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 38px;
    margin-top: 92px;
}

@media (max-width: 768px) {
    .new-post-form {
        margin-top: 60px;
    }
}

.new-post-form input,
.new-post-form textarea {
    padding: 24px;
    border-radius: 2px;
    border: 1px solid rgba(109, 110, 118, 0.5);
    outline: none;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: rgba(35, 37, 54, 1);
}

.new-post-form input::placeholder,
.new-post-form textarea::placeholder {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: rgba(35, 37, 54, 1);
}

.new-post-form button {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(26, 26, 26, 1);
    font-family: Sen;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    padding: 20px 0 20px 0;
    transition: 0.3s;
    cursor: pointer;
    margin-top: -5px;
    border: 1px solid rgba(26, 26, 26, 1);
    border-radius: 2px;
}

.new-post-form:hover {
    background-color: transparent;
    color: rgba(26, 26, 26, 1);
    border: 1px solid rgba(26, 26, 26, 1);
}
